body{
    background-color: #232323;
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}
#container{
    width: 50%;
    margin: 10px auto;
    max-width: 750px;
}
.square{
    background: #232323;
    width: 30%;
    margin: 1.66%;
    float: left;
    height: 120px;
    border-radius: 25%;
}
#main{
    text-align: center;
    padding: 20px 0;
    text-transform: uppercase;
    background-color: steelblue;
    color: white;
    margin: 0;
    height: 160px;
    line-height: 1.1;
    font-weight: 300;
}
span{
    font-size: 200%;
    font-weight: 100;
    margin-left: 60px;
}
#stripe{
    background-color: white;
    text-align: center;
    height: 52px;
    margin: 0;
    padding: 0;
}
#message{
    color: steelblue;
    text-align: center;
}
button{
    margin-bottom: 10px;

    color: steelblue;
    background: none;
    border: none;
    height: 100%;
    font-weight: 700;
    font-size: small;
}
#btn2{
    margin-left: 250px;
}
button:hover{
    color: white;
    background-color: steelblue;
}
.selected{
    color: white;
    background-color: steelblue;
}